In [30]:
"""Fetching FP and SP from 'Oversettelse' column in variabel spreadsheet of exceldocument from teams"""
import pandas as pd
fpsp = pd.read_csv("fpsp.csv",usecols=['Oversettelse'], skip_blank_lines=False)
#display(fpsp.head(20))
fpsp['Oversettelse'] = fpsp['Oversettelse'].str.strip()#removing surrounding spaces
fpsp['FP'] = fpsp['Oversettelse'].str.split('').str[1]
fpsp.loc[fpsp['FP'].isin(['','n']), 'FP'] = 'ny'
fpsp['SP'] = ""
fpsp['SP'] = fpsp['Oversettelse'].str.split().str[-1]
fpsp.loc[fpsp['SP'].isin(['ny','n']), 'SP'] = ''
fpsp = fpsp.fillna('')
#creating a csv file with the new FP and SP columns
fpsp.to_csv("fp_sp_cols_for_master.csv",index=False, sep=";")

   Oversettelse  FP SP
0
1         3 < 4   3  4
2         4 = 4   4  4
3            ny  ny
4         4 = 4   4  4
5         4 = 4   4  4
6         4 = 4   4  4
7         4 = 4   4  4
8         4 = 4   4  4
9         4 = 4   4  4
10        4 = 4   4  4
11        4 = 4   4  4
12        4 = 4   4  4
13        4 = 4   4  4
14        4 = 4   4  4
15
16           ny  ny
17           ny  ny
18           ny  ny
19           ny  ny
20           ny  ny
21           ny  ny
22           ny  ny
23           ny  ny
24           ny  ny
25           ny  ny
26           ny  ny
27           ny  ny
28           ny  ny
29           ny  ny
30           ny  ny
31           ny  ny
32           ny  ny
33           ny  ny
34           ny  ny
35           ny  ny
36           ny  ny
37           ny  ny
38           ny  ny
39           ny  ny
40           ny  ny
41           ny  ny
42           ny  ny
43           ny  ny
44           ny  ny
45           ny  ny
46           ny  ny
47           ny  ny
48           ny  ny
49           ny  ny